<!DOCTYPE HTML>
<html lang='pt-BR'>
{% load static %}
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
        rel="stylesheet">
    <title>index</title>
    <style>
        a {
            color: black;
            text-decoration: none;
        }

        a:hover {
            color: #6C3241;
        }
    </style>

</head>


<header style="text-align: center;">

    <img src="{% static 'img/logopamelahead.png'%} " width="10%">

    <img src="{% static 'img/logopamelaletter.png'%}" width="40%">


    <table align="center"
        style="width: 50%; border-style: solid; border-color:  #6C3241; border-width: 2px; background-color: #D2B048;">
        <tr>
            <th>
                <h2>{% block title %} Bem vindo! {% endblock %} </h2>
            </th>
        </tr>
    </table>

</header>
 {% block content %}{% endblock content %}

<footer style="margin-top: 50px; background-color: #D2B048; border-top: 2px solid #6C3241; padding: 20px; text-align: center; font-family: 'Josefin Sans', sans-serif;">
    <p style="margin: 5px; font-weight: bold;">Estética na Palma da Mão</p>
    <p style="margin: 5px;">Espaço Integrativo Pamela Azambuja</p>
    <p style="margin: 5px;">Contato: (48) 99664-8079</p>
    <p style="margin: 5px;">Atendimento na Praia de Fora - Palhoça/SC</p>
</footer>
