 {% extends "base.html" %} 

{% load static %}


{% block content %}

<body style="margin-top: 5%;">
    <table
        style="background-color: #F8D36F; width: 50%; border-style: solid; border-color:  #6C3241; border-width: 2px; text-align: center;"
        align="center">
        <tr>
            <td>
                <h3><a href="agendamento"> Agendamento </a></h3>
            </td>
        </tr>
        <tr>
            <td>
                <h3><a href="login"> Login </a></h3>
            </td>
        </tr>


    </table>


</body>
{% endblock %}
</HTML>