{% extends "base.html" %}
{% load static %}

{% block title %} Login {% endblock %}

{% block content %}
<header style="text-align: center;">
    <img src="{% static 'assets/logopamela.jpeg' %}" height="20%" width="20%" alt="Logo Pamela"><br>
</header>

<form id="loginForm" novalidate>
    <table style="background-color: RGB(108,50,65);" align="center" height="20%" width="20%">
        <tr>
            <th colspan="3" style="font-size: larger; color: RGB(248,222,111);">Entre com usuário e senha</th>
        </tr>
        <tr>
            <th style="color: RGB(248,222,111);"><label for="email">Usuário:</label></th>
            <td colspan="2"><input type="email" id="email" name="email"></td>
        </tr>
        <tr>
            <th style="color: RGB(248,222,111);"><label for="senha">Senha:</label></th>
            <td colspan="2"><input type="password" id="senha" name="senha"></td>
        </tr>
        <tr align="center">
            <td align="left"><input type="submit" value="Acessar" onclick="logar(); return false"></td>
            <td>&nbsp;</td>
            <td align="right"><input type="reset" value="Cancelar"></td>
        </tr>
        <tr>
            <th colspan="3" style="background-color: rgb(240, 237, 237);">
                <a href="https://www.instagram.com/pamelaazambuja.terapeuta/">Esqueceu sua senha?</a>
            </th>
        </tr>
    </table>
</form>

<script>
    const form = document.getElementById('loginForm');
    const email = document.getElementById('email');
    const senha = document.getElementById('senha');

    form.addEventListener("submit", event => {
        event.preventDefault();
        if (email.value.trim() === "") {
            alert("Preencha um usuário válido");
            return;
        } else if (senha.value === "") {
            alert("Preencha a senha");
            return;
        } else {
            form.submit();
        }
    });

    function logar() {
        const login = email.value;

        if (email.value.trim() === "") {
            alert("Preencha um usuário válido");
            return;
        } else if (senha.value === "") {
            alert("Preencha a senha");
            return;
        } else if (login == "admin" && senha.value == "admin") {
            alert("Bem vindo " + login);
            location.href = "{% url 'menu' %}";  // Altere 'menu' para o nome correto da URL no Django
        }
    }
</script>
{% endblock %}