{% extends "base.html" %}

{% load static %}

{% block titulo %} Menu {% endblock %}

{% block content %}


<table
        style="background-color: #F8D36F;padding: 20px; width: 50%; border-style: solid; border-color:  #6C3241; border-width: 2px; text-align: center;"
        align="center">
        <tr>
            <th><a href="{% url 'agendamento'%}">Cadastro de gendamentos</a></th>
        </tr>
        <tr>
            <td>
                <h3><a href="login"> Login </a></h3>
            </td>
        </tr>


    </table>


{% endblock %}