{% extends "base.html" %}
{% load static %}

{% block title %}Cadastro de procedimentos{% endblock %}

{% block content %}
<form method="post" action="{% url 'cadastrar_procedimento' %}">
    {% csrf_token %}

    <table style="background-color: #F8D36F; width: 50%; border: 2px solid #6C3241;" align="center">
        <tr>
            <th align="left"><label for="nomeP">Nome do procedimento:</label></th>
            <td><input type="text" id="nomeP" name="nomeP" required></td>
        </tr>

        <tr>
            <th align="left"><label>Qual profissional irá realizar?</label></th>
            <td>
                <input type="radio" id="Pamela" name="profissional" value="Pamela">
                <label for="Pamela">Pamela</label>

                <input type="radio" id="Carline" name="profissional" value="Carline">
                <label for="Carline">Carline</label>

                <input type="radio" id="AnaPaula" name="profissional" value="Ana Paula">
                <label for="AnaPaula">Ana Paula</label>
            </td>
        </tr>

        <tr>
            <th align="left"><label for="valor">Qual valor do procedimento?</label></th>
            <td><input type="text" id="valor" name="valor" required></td>
        </tr>

        <tr>
            <th><label for="tempo">Qual tempo médio do procedimento?</label></th>
            <td><input type="text" id="tempo" name="tempo" required></td>
        </tr>

        <tr>
            <td align="center">
                <button type="reset" class="btn btn-danger">Limpar</button>
            </td>
            <td align="center">
                <button type="submit" class="btn btn-success">Salvar</button>
            </td>
        </tr>
    </table>
</form>
{% endblock %}