{% extends 'gerencia/base.html' %}

{% load static %}

{% block content %}

<table class="content w-50 " align='center'>
    <thead align='center'>
        <tr class=''>
            <th>ID</th>
            <th>Nome</th>
            <th>CPF</th>
            <th>Data de Nascimento</th>
            
        </tr>
    </thead>
    <tbody align='center'>
        {% for pessoa in pessoas %}
            <tr class='border-top border-success'>
                <td><a href="{% url 'editar_pessoa' pessoa.id %}">{{ pessoa.id }}</a></td>
                <td><a href="{% url 'editar_pessoa' pessoa.id %}">{{ pessoa.nome_completo }}</a></td>
                <td><a href="{% url 'editar_pessoa' pessoa.id %}">{{ pessoa.cpf }}</a></td>
                <td><a href="{% url 'editar_pessoa' pessoa.id %}">
                    {% if pessoa.numero %} {{ pessoa.numero }} {% else %} - {% endif %}
                </a></td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="5" align='center'>Nenhuma pessoa cadastrada.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}